.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  border-radius: 8px;
  border: 2px solid white;
  height: 100%; 
}

.square1 { border-color: #ffa000; height: 140px; }
.square2 { border-color: #388e3c; height: 140px; }
.square3 { border-color: #1565c0; height: 440px; }
.square4 { border-color: #c2185b; height: 140px; }
.square5 { border-color: #7b1fa2; height: 140px; }
.square6 { border-color: #e64a19; height: 280px; }
.square7 { border-color: #455a64; height: 140px; }
.square8 { border-color: #5d4037; height: 140px; }
.square9 { border-color: #3949ab; height: 140px; }
.square10 { border-color: #3949ab; height: 140px; }
