<div class="container mt-2 " style="max-height: 100%; overflow: scroll; overflow-x: hidden;">
  <div class="row">
    <div class="col-lg-7">
      <div class="row">
        <div class="col-md-6">
          <div class="square square1" style="color: black;">
            Độ Ẩm Ngoài Trời
          </div>
        </div>
        <div class="col-md-6">
          <div class="square square2" style="color: black;">Nhiệt độ của hôm nay</div>
        </div>
        <div class="col-md-12">
          <br/>
          <div class="square square3" style="color: black;">3</div>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="square square4" style="color: black;">4
      </div>
      <br/>
      <div class="square square5" style="color: black;">5</div>
      <br/>
      <div class="square square6" style="color: black;">6</div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-3">
      <div class="square square7" style="color: black;">7</div>
    </div>
    <div class="col-md-3">
      <div class="square square8" style="color: black;">8</div>
    </div>
    <div class="col-md-3">
      <div class="square square9" style="color: black;">9</div>
    </div>
    <div class="col-md-3">
      <div class="square square10" style="color: black;">10</div>
    </div>
  </div>
</div>
