<div class="dashboard">
    <div class="square square1">1</div>
    <div  style="height: 7rem;" class="square square2">2</div>
    <div class="square square3">3</div>
    <div style="height:7rem;" class="square square4">4</div>
    <div  style="height: 7rem;" class="square square5">5</div>
    <div  style="height: 8rem;" class="square square6">6</div>
    <div  style="height: 7rem;" class="square square7">7</div>
    <div class="square square8">8</div>
    <div class="square square9">9</div>
</div>