
<div>
    <p>Received MQTT Messages:</p>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Nội Dung Message</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of messages">
                <tr>
                    <td class="text-center">#</td>
                    <td class="text-center">{{ item }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<hr/>
<div class="row">
    
</div>
<div style="width: 100%;">

</div>